@use '../../app/_scss/variables' as *;
@use '../../app/_scss/form' as *;

fieldset {
    flex-direction: column;
    width: 50vw;
    padding-block: 4rem;
    background: url('/images/me.png') no-repeat right bottom / 360px light-dark($clr-lightest, $clr-darkest);
    transform: perspective(1000px) rotateY(8deg) rotateX(4deg);

    &:has(*:focus) {
        background-image: url('/images/me-hover.png');
        transition: all 0.5s ease-in-out;
    }
    input,
    textarea,
    select {
        background-color: light-dark($clr-lighter, $clr-darker);
        border: 1px solid light-dark($clr-lightest, $clr-darkest);
        width: calc(100% - 400px);
    }
    button.primary {
        width: 320px;
    }
}


@media(max-width: $dim-breakpoint) {
    fieldset {
        background-size: 120px;
        transform: unset;
        margin: 0;
        box-sizing: border-box;
    }
}