@use '../../app/_scss/variables' as *;

.whisky-wrapper {
    display: grid;
    grid-template-areas:
        "title rating"
        "title svg"
        "specs svg";
    grid-template-columns: 1fr max-content;
    padding: 0;
    margin: 10px 10px 60px;
    background-color: light-dark($clr-lightest, $clr-darkest);
    border: 1px solid $clr-purple;

    &:first-of-type {
        margin-top: 64px;
    }
    .whisky-header {
        grid-area: title;
        padding: 0 20px;

        h2 {
            padding: 0 4px;
            margin-top: -40px;
            background-color: light-dark($clr-lightest, $clr-darkest);
            width: fit-content;
            color: $clr-purple;
        }
    }
    .rating-wrapper {
        display: flex;
        justify-content: flex-end;
        grid-area: rating;
        align-self: end;
        padding: 20px;
    }
    .specs {
        grid-area: specs;
        padding: 0 10px 10px 20px;
        display: grid;
        grid-template-columns: 160px 1fr;
        column-gap: 16px;

        .spec-label {
            font-size: 1.2rem;
            text-align: right;
            color: $clr-gray;
        }
        .spec-value {
            font-size: 1.2rem;

            .color-swatch {
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                margin-right: 4px;
            }
        }
    }
    .whisky-map {
        grid-area: svg;
        align-self: end;
        margin-right: 20px;
        margin-bottom: -10px;
        width: 220px;

        img {
            margin-bottom: 0;
        }
    }
    legend {
        background-color: transparent;
    }
}
fieldset {
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
    width: calc(100% - 4rem);
    border: none;
    background-color: light-dark($clr-lighter, $clr-darker);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px light-dark(
        hsl(from #{$clr-light} h s l / 50%),
        hsl(from #{$clr-black} h s l / 50%)
    );

    span, select, button {
        width: 320px;
    }
    .whisky-filters,
    .whisky-sorting {
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    .reset-filters {
        margin-block: 1rem;
    }
    input,
    select,
    button {
        background-color: light-dark($clr-light, $clr-dark);
        border: 1px solid light-dark($clr-lighter, $clr-darker);
        color: light-dark($clr-darkest, $clr-lightest);
        padding: 0.5rem 1rem;
        margin: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-size: 1.2rem;
        box-shadow: inset 0 0 10px light-dark(
            hsl(from #{$clr-light} h s l / 50%),
            hsl(from #{$clr-black} h s l / 50%)
        );
        cursor: pointer;

        &:hover {
            box-shadow: inset 0 0 16px light-dark(
                hsl(from #{$clr-light} h s l / 50%),
                hsl(from #{$clr-black} h s l / 80%)
            );
        }
    }
    select {
        &:focus {
            outline: none;
        }
        option {
            background-color: light-dark($clr-light, $clr-dark);
            color: light-dark($clr-darkest, $clr-lightest);

            &:hover {
                background-color: $clr-purple;
            }
        }
    }
    @supports (appearance: base-select) {
        select,
        ::picker(select) {
            appearance: base-select;
        }
        ::picker(select) {
            background-color: light-dark($clr-light, $clr-dark);
            border: 1px solid light-dark($clr-lighter, $clr-darker);
            border-radius: 0.5rem;
            box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 25%);
            max-height: 15rem;
            overflow-y: auto;
            scrollbar-width: 8px;
            scrollbar-color: $clr-purple transparent;
        }
        select::picker-icon {
            width: 1.5rem;
            height: 1.5rem;
            color: transparent;
            background: url('/vector/chevron.svg') center / contain no-repeat;
        }
        select:open::picker-icon {
            rotate: 180deg;
        }
        option {
            background-color: light-dark($clr-light, $clr-dark);
            color: light-dark($clr-darkest, $clr-lightest);
            padding: 0.5rem 1rem;
            font-size: 1.2rem;

            &:focus {
                background-color: light-dark($clr-lighter, $clr-darker);
                outline: none;
            }
            &:checked {
                font-weight: 700;
            }
            &::checkmark {
                color: $clr-yellow;
            }
        }
    }
    button {
        box-shadow: 0 0 10px light-dark(
            hsl(from #{$clr-light} h s l / 50%),
            hsl(from #{$clr-black} h s l / 50%)
        );

        &:hover {
            box-shadow: 0 0 16px light-dark(
                hsl(from #{$clr-light} h s l / 50%),
                hsl(from #{$clr-black} h s l / 80%)
            );
        }
        span {
            color: $clr-yellow;
        }
    }
}
button.reset-filters {
    background-color: $clr-yellow;
    border: 1px solid light-dark($clr-lighter, $clr-darker);
    font-weight: bold;
    color: $clr-darker;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 320px;
    box-shadow: 0 0 20px hsl(from #{$clr-yellow} h s l / 25%);
    outline: none;

    &:hover {
        box-shadow: 0 0 30px hsl(from #{$clr-yellow} h s l / 50%);
    }
}


@media(max-width: $dim-breakpoint) {
    .whisky-wrapper {
        display: grid;
        grid-template-areas:
            "title"
            "rating"
            "specs";

        h3 {
            font-size: 1.2rem;
        }
        .specs {
            grid-template-columns: 80px 1fr;

            .spec-label,
            .spec-value {
                font-size: 1rem;
            }
        }
        .whisky-map {
            display: none;
        }
    }
    fieldset {
        flex-direction: column;
    }
}