@use '_variables' as *;

:root {
    color-scheme: light dark;
}
html {
    color-scheme: light dark;
    scroll-snap-type: y proximity;
    font-family: $ff-default;
}
body {
    background-color: light-dark($clr-lightest, $clr-darkest);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: $ff-default;
}
*,
button {
    scroll-behavior: smooth;
    font-family: $ff-default;
    font-size: 1.2rem;
    color: light-dark($clr-darkest, $clr-lightest);
}
h1 {
    font-size: 5rem;
    font-family: $ff-header;
}
h2 {
    font-size: 3rem;
    color: $clr-purple;
    font-family: $ff-header;
}
h3 {
    color: $clr-purple;
    font-size: 1.7rem;
    font-family: $ff-header;
}
section,
header,
footer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}
.content-column {
    width: 50vw;
    margin-inline: auto;
    margin-bottom: 30vh;

    img {
        max-width: 600px;
        margin-bottom: 4vh;

        &.shade {
            box-shadow: 2px 2px 20px 2px hsl(from #{black} h s l / 20%), 1px 1px 10px 1px hsl(from #{black} h s l / 10%);
        }
        &.small {
            height: 180px;
            margin: 10px;
        }
    }
}
a {
    text-decoration: underline solid light-dark($clr-purple, $clr-yellow);
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    transition: text-underline-offset 5s ease-in-out;

    &:hover {
        text-decoration: underline solid light-dark($clr-purple, $clr-yellow);
        transition: all .3s ease-in-out;
        text-underline-offset: 8px;
    }
}
::selection {
    background-color: $clr-purple;
    color: $clr-darkest;
    text-decoration-color: $clr-yellow;
    text-decoration-thickness: 3px;
    text-decoration: underline $clr-yellow solid 3px;
}

@media(max-width: $dim-breakpoint) {
    html {
        scroll-snap-type: unset;
    }
    body {
        background-color: light-dark($clr-lightest, $clr-darkest);
        margin: 0;
        padding: 0;
    }
    *,
    button {
        font-size: 1.2rem;
        color: light-dark($clr-darkest, $clr-lightest);
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
        color: $clr-purple;
    }
    h3 {
        color: $clr-purple;
        font-size: 1.7rem;
    }
    .content-column {
        width: 90%;
        margin-inline: auto;
        margin-bottom: unset;

        img {
            max-width: 100%;
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: $clr-purple;
}