@use 'variables' as *;

.music-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        120deg,
        light-dark($clr-lighter, $clr-darker) 0%,
        light-dark($clr-lightest, $clr-darkest) 40%,
        light-dark($clr-white, $clr-black) 50%,
        light-dark($clr-lightest, $clr-darkest) 60%,
        light-dark($clr-lighter, $clr-darker) 100%
    ) fixed;
    background-size: cover;
    width: 100vw;
}
:is(h1, h2, h3) {
    font-family: $ff-header-music;
}