@use '../../app/_scss/variables' as *;

section#diy {
    background: linear-gradient(
        120deg,
        light-dark($clr-lighter, $clr-darker) 0%,
        light-dark($clr-lightest, $clr-darkest) 40%,
        light-dark($clr-white, $clr-black) 50%,
        light-dark($clr-lightest, $clr-darkest) 60%,
        light-dark($clr-lighter, $clr-darker) 100%
    );
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 2rem;
    overflow: hidden;

    .diy-images {
        pointer-events: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: -750px;

        .diy-image-wrapper {
            position: absolute;
            filter: drop-shadow(0 10px 15px hsl(from #{black} h s l / 70%));
            width: 216px;
            height: 238px;

            &:has(.cabinet) {
                width: 864px;
                height: 952px;
                top: -180px;
                left: -170px;
            }
            &:has(.caddy) {
                bottom: 100px;
                right: 170px;
            }
            &:has(.bar) {
                bottom: 100px;
                right: 420px;
            }
            .diy-image {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            }
        }
    }
    article {
        z-index: 2;
        width: 40vw;
        position: absolute;
        left: 750px;
    }
}


@media(max-width: $dim-breakpoint) {
    @import '../../app/_scss/mobile';

    section#diy {
        article {
            padding-bottom: 2rem;
            border-bottom: 1px solid light-dark($clr-darker, $clr-lighter);
        }
        .diy-images {
            display: flex;
            justify-content: center;
            gap: 1rem;
            width: unset;
            height: unset;

            .diy-image-wrapper {
                width: 108px !important;
                height: 119px !important;
            }
        }
    }
}